/*INICIO DO GERAL*/

* {
    font-family: 'Nunito', sans-serif;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #0d0d0d;
    background-image: url('../IMGS/viva_vida_fundo_exemplos.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}

/*FIM DO GERAL*/

/*INICIO DO CABECALHO*/

.cabecalho {
    width: 100%;
    height: 80px;
    background-color: #0d0d0dc2;
    border-bottom: 4px solid #9c53ed;
    position: relative;

}

.caixa_cabecalho {

    max-width: 95%;

}



.cabecalho nav {
    float: right;

}


.cabecalho nav a {
    color: white;
    text-decoration: none;
}


.colorido_lista {
    color: #9c53ed
}

.cabecalho a:hover {

    font-size: 1.25em;
    transition: 0.5s;
    color: #9c53ed
}

.cabecalho ul {
    padding-top: 30px;
    list-style: none;
    color: white;
    margin: 0;
    cursor: pointer;
}

.cabecalho ul li {
    display: inline;
    font-size: 1.3em;
    margin-right: 40px;

}


.login_cor {
    padding: 6px;
    background-color: #0396a6;
    border-radius: 40px;
    color: white;
}

/*FIM DO CABECALHO*/



/*INICIO DO CONTEÚDO*/

.div_conteudo_exemplos {
    max-width: 70%;
    text-align: center;
    position: absolute;
    left: 15%;
    top: 45%;

}

.titulo_pag {
    color: white;
    background-color: rgba(0, 0, 0, 0.473);
    font-size: 40px;
    border-radius: 25px;
}

.but_login {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 46px;
    border-radius: 30px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #b224ef, #fd3460);
    border: 0px;

}

.but_login:hover {
    background: -webkit-linear-gradient(left, #fd3460, #b224ef);
    width: 320px;
    height: 56px;
    transition: 0.5s;
}

.div_conteudo_exemplos a {
    color: white;
    text-decoration: none;

}

/*FIM DO CONTEÚDO*/




/*INICIO DO RODAPÉ*/

.rodape {
    background-color: #9c53ed;
    text-align: center;
    color: white;
    height: 40px;
    position: absolute;
    width: 100%;
    bottom: -200px;
    padding-top: 20px;
}

/*FIM DO RODAPÉ*/