/*INICIO DO GERAL*/

* {
    font-family: 'Nunito', sans-serif;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #242424d2;
    background-image: url("../IMGS/fundo_tipos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
   
}


/*FIM DO GERAL*/



/*INICIO DO CABECALHO*/

.cabecalho {
    width: 100%;
    height: 80px;
    background-color: #0d0d0dc2;
    border-bottom: 4px solid #03a678;
    position: relative;

    
}

.caixa_cabecalho {

    max-width: 95%;

}



.cabecalho nav {
    float: right;
    
}


.cabecalho nav a {
    color: white;
    text-decoration: none;
}


.colorido_lista {
    color: #03a678;
}
.cabecalho a:hover {

    font-size: 1.25em;
    transition: 0.5s;
    color: #03a678;
  
}

.cabecalho ul {
    padding-top: 30px; 
    list-style: none;
    color: white;
    margin: 0;
    cursor: pointer;
}

.cabecalho ul li {
    display: inline;
    font-size: 1.3em;
    margin-right: 40px;

}


.login_cor{
    padding:6px;
    background-color: #0396a6;
    border-radius: 40px;
    color: white;
}

/*FIM DO CABECALHO*/

/*INICIO DO CONTEÚDO*/

.div_titulo{
position: absolute;
left: 10%;
top: 25%;
width: 80%;
text-align: center;
}

.titulo{
color: white;
font-size: 100px;
background-color: rgba(22, 22, 22, 0.37);
border-radius: 30px;
}

.titulo:hover {
    font-size: 105px;
    transition: 0.5s;
}

.div_conteudo_tipos{
position: absolute;
top: 115%;
width: 70%;
left: 15%;
}


.div_conteudo_tipos h2{
    color: white;
    background-color: #03a678 ;
    position: relative;
    text-align: center;
    letter-spacing: 1.3px;
    padding-top: 10px;
    padding-bottom: 10px;

}


.div_conteudo_tipos p{
    color: white;
    position: relative;
    text-align: justify; 
    font-size: 18px;
    letter-spacing: 1.3px;
    text-indent:50px;
}

.div_conteudo_tipos h3{
    color: #03a678;
    position: relative;
    text-align: center; 
    letter-spacing: 1.3px;
    font-size: 30px;


}

.img{
    width: 500px;
    text-align: center;
    padding-left: 23%;
}

/*FIM DO CONTEÚDO*/



/*INICIO DO RODAPÉ*/

.rodape {
    background-color: #03a678;
    text-align: center;
    color: white;
    height: 40px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -8120px;
    padding-top: 20px;
    
    

}



/*FIM DO RODAPÉ*/

